body {
font-family: "Ubuntu", Helvetica, sans-serif;
background-color: #454647;
color: #ebebeb;
margin: 0;
padding: 0;
line-height: 1.6;
font-weight: normal;
}

body h2{
font-size: 18px;
font-family:"Ubuntu", Helvetica, sans-serif;
line-height: .8;
color: #d9643a;
}

header {
background: #242525;
color: #ebebeb;
padding: 10px 20px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: auto;
}
.header-container img {
    height: 150px;
    width: auto;
}

nav a {
color: #ebebeb;
margin: 10px;
font-size: 18px;
text-decoration: none;
}

nav a:hover {
    color: #d9643a;
}

section {
padding: 20px;
}

.calculator-box {
    width: 300px;
    background-color: #454647;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    margin: 30px auto;
    color: #ebebeb;
    text-align: center;
}

.calculator-box h2 {
    color: #d9643a;
    margin: 15px;
}

.calculator-box label {
    display: block;
    margin: 10px 0 5px;
    font-weight: normal;
}
.calculator-box p {
    margin: 10px 0;
    font-size: 16px;
}
/*modal*/
.modal {
    display: none;
    position:sticky;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
}
.modal-content {
    background: #454647;
    padding: 20px;
    border-radius: 10px;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
    text-align: center;
}
.modal-content img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}
.close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}
.code-box {
    background: #222;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    font-family: monospace;
    display: none;
}
.download-btn, .copy-btn {
    background-color: #242525;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
}
.download-btn:hover, .copy-btn:hover {
    color: #d9643a;
}
/*modal*/

/*atm-box*/
.atm-box {
    width: 300px;
    background-color: #454647;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    margin: 30px auto;
    color: #ebebeb;
    text-align: center;
}

.atm-box h2 {
    color: #d9643a;
    margin: 15px;
}

.atm-box label {
    display: block;
    margin: 10px 0 5px;
    font-weight: normal;
}
.atm-box p {
    margin: 10px 0;
    font-size: 16px;
}

/*End of atm-box*/

.more-Projects {
font-family: "Ubuntu", Helvetica, sans-serif;
color: #ebebeb;
margin: 0;
font-weight: normal;
}

.more-Projects a {
    color: #ebebeb;
    text-decoration: none;
}

.more-Projects a:hover {
    color: #d9643a;
}

.project-card {
border: 1px solid #ccc;
padding: 10px;
margin: 10px 0;
outline: none;
box-shadow: 0 0 5px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label {
    margin: 5px;
    font-weight:normal;
}

input,textarea, select, button {
    background-color: #Ebebeb;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 8px;
    outline: none;
    border: 2px solid #d9643a;
    box-shadow: 0 0 5px rgba(217, 100, 58, 0.5);
}

button {
    background-color: #242525;
    color: #Ebebeb;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    color: #d9643a;
}

footer {
    background-color: #242525; /* Blue footer background */
    font-weight: normal;
    color: #ebebeb;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    font-weight:lighter;
}
.social-strip {
    background-color: #d9643a;
    padding: 10px 0;
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    box-shadow: 0 0 5px #Ebebeb
}
.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.social-strip a,
.social-strip a:link,
.social-strip a:visited,
.social-strip a:active {
    font-size: 24px;
    color: #Ebebeb;
    text-decoration: none;
    transition: color 0.3s ease;
}
footer a:hover {
    color: #d9643a;
}

.social-icons a[name="github"]:hover {
    color: #0A66C2; /* GitHub blue */
    transition: color 0.3s ease;
}
.social-icons a[name="linkedin"]:hover {
    color: #0A66C2;/* LinkedIn blue */
    transition: color 0.3s ease;
}
.social-icons a[name="cdnjs"]:hover {
    color: #0A66C2; /* cdnjs blue */
    transition: color 0.3s ease;
}
